certifi==2021.5.30
chardet==4.0.0
click==6.7
entrypoints==0.3
evdev==1.2.0
flake8==3.7.9
Flask==1.0.2
idna==2.10
itsdangerous==0.24
Jinja2==2.11.3
-e git+https://github.com/markrcote/ledweb.git@7d2c827d578e62da12c9da64baa3bed33b8f6b7d#egg=ledweb
MarkupSafe==1.0
mccabe==0.6.1
olefile==0.46
Pillow==8.3.2
pycodestyle==2.5.0
pyflakes==2.1.1
python-apt==1.8.4.3
redis==3.2.1
requests==2.25.1
RPi.GPIO==0.6.5
urllib3==1.26.6
uWSGI==2.0.17
Werkzeug==0.15.3
